:host {

  & table {
    margin: 0 auto;
  }
  
  & tr {
    text-align: left;
  }

  & tr.issue-row {
    border: solid 1px;
    margin-bottom: 20px;
  }

  & tr.issue-row a:visited {
    color: #38597a;
  }

  & .issue-label {
    display: inline-block;
    padding: 5px;
    margin: 2px;
    border-radius: 8px;
    box-shadow: 2px 3px #888888;
  }
  
}