:host {
  & table {
    margin: 0 auto;
    background-color: var(--secondary-color);
    border-spacing: 0;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
  }

  & thead {
    background-color: var(--primary-color);
  }

  & th {
    color: var(--secondary-text-color, #000);
    padding: 4px;
  }

  & tr {
    text-align: left;
  }

  & tr.issue-row {
    border: solid 1px;
    margin-bottom: 20px;
  }

  & tr.issue-row a:visited {
    color: #38597a;
  }

  & td {
    padding: 4px;
  }

  & .issue-label {
    display: inline-block;
    padding: 5px;
    margin: 2px;
    border-radius: 8px;
    box-shadow: 2px 3px #888;
  }
}