@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

:host {
  --primary-color: #41a6ef;
  --primary-text-color: #000;
  --secondary-color: #ecfdff;
  --secondary-text-color: #fff;

  /* dropdown theme */
  --dropdown-color: var(--primary-color);
  --dropdown-border-color: var(--primary-color);
  --dropdown-text-color: var(--secondary-text-color);
  --dropdown-text-size: 1rem;
  --dropdown-text-expanded-color: var(--primary-color);
  --dropdown-text-hover-color: var(--secondary-text-color);
  --dropdown-text-background-hover: var(--primary-color);
  --drop-timing: 0.3s;

  & cc-issues-list {
    margin: 0 auto;
    width: 90%;
  }

  @media screen and (prefers-reduced-motion: reduce) {
    & .selection-wrapper {
      animation: none;

      @media (prefers-reduced-motion) {
        animation: 0;
      }
    }
  }

  & .selection-wrapper {
    text-align: center;
    margin-bottom: 50px;
    animation: fadein 2s;
  }

  & h2 {
    color: var(--primary-color);
  }

  h3.error {
    color: red;
    font-weight: bold;
  }
}