:host {
  & header {
    display: flex;
    flex-direction: column;
    text-align: center;

    & small {
      display: block;
    }
  }

  & header h1 {
    margin: 5px;
    color: #020202;

    @media only screen and (max-width: 400px) {
      font-size: 1.8em;
    }
  }

  & header img {
    display: inline-block;
    background-repeat: no-repeat;
    width: 15%;
    margin: 0 auto;
  }
}