:host {
  & a {
    display: inline-block;
  }

  & footer, & a {
    height: 50px;
    line-height: 50px;
  }

  & a {
    border-top: 1px solid #020202;
    padding: 5px;
    text-decoration: none;
  }
}