:host {

  & footer {
    height: 50px;
    line-height: 50px;
    text-align: center;
  }

  & footer span {
    border-top: 1px solid #020202;
    padding-top: 10px;
  }
  
  & footer a.social-icon {
    text-decoration: none;
  }

  & footer a.social-icon img {
    display: inline-block;
    width: 40px;
    height: 40px;
  }

}